<h1 id="name-location"> <%= @event.location.name %> </h1>
<% @event.location.activities.each do |activity| %>
    <p><%= activity.name %></p>
<% end %>

<p>Mi itinerario de actividades:  </p>

<% @event.activities.each do |activity| %>
    <p><%= activity.name %></p>
    <p><%= activity.category %></p>
    <p><%= activity.place %></p>
    <p><%= activity.points %></p>
    <p><%= activity.description %></p>
<% end %>


<%= simple_form_for [@event.traveller ,@event] do |f| %>
  <%= f.association :activities, as: :check_boxes %>
  <%= f.button :submit %>
<% end %>



<%= javascript_pack_tag 'selecting_activity' %>
