<h1 id="name-location"> <%= @event.location.name %> </h1>
<% @event.location.activities.each do |activity| %>
    <p><%= activity.name %></p>
<% end %>

<p>Mi itinerario de actividades:  </p>
<ul>
<% @event.activities.each do |activity| %>
    <li><%= activity.name %></li>
    <li class="pl-3"><%= activity.location.name %></li>
<% end %>
</ul>

<%= simple_form_for [@event.traveller ,@event] do |f| %>
  <%= f.association :activities, as: :check_boxes %>
  <%= f.button :submit %>
<% end %>



<%= javascript_pack_tag 'selecting_activity' %>
